.button_container button{
    background-color: #FFF;
    padding: 5px;
    margin-top: 15px;

    min-width: 80px;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    border-radius: 5px;
    border: solid 2px;
    border-color: blueviolet;
}