.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.info{
    background-color: rgb(237, 213, 237);
    border-radius: 15px;
    border: 2px solid blueviolet;
    margin-top: 180px;
    padding: 15px;
    display: grid;
    align-items: center;
    justify-items: center;
}

.container_img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 150px;
}

.img_book_detail{
    display: flex;
    align-items: center;
    justify-items: center;
    width: 300px;
    border-radius: 5px;
}

.name{
    font-size: 35px;
    padding: 15px;
}

.categorie{
    font-size: 25px;
    padding: 10px;
}

.descricao{
    font-size: 20px;
    text-align: justify ;
    padding: 30px;
}

.btn{
    border: 1px solid #FFF;
    border-radius: 5px;
    background: linear-gradient(180deg, rgba(17,179,53,0.9940709560191264) 0%, rgba(19,215,2,1) 100%);
    color: #FFF;
    padding: 10px;
}

.container_buttons{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:5px;
    color: #999;
    padding-bottom: 25px;
}